* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #000;
  color: #fff;
}

/* CONTENEDOR */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

/* HEADER */
header {
  padding: 80px 0;
}

header h1 {
  font-size: 48px;
  font-weight: 800;
}

.logo {
  width: 70px;
  margin: 18px auto;
  display: block;
}

header p {
  margin: 20px 0 30px;
  font-size: 18px;
  opacity: 0.85;
}

/* BOTONES */
.btn {
  display: inline-block;
  padding: 14px 32px;
  background: #fff;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  border-radius: 30px;
  margin: 5px;
}

/* SECCIONES */
section {
  padding: 80px 0;
}

h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

/* CARDS */
.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #111;
  border-radius: 20px;
  padding: 25px;
  width: 300px;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.card p {
  font-size: 15px;
  opacity: 0.85;
}

/* FOOTER */
footer {
  padding: 30px 0;
  font-size: 14px;
  opacity: 0.6;
}
